.lead {
    /* max-width: 984px; */
    padding-right: 148px;
    padding-left: 148px;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-right: 48px;
        padding-left: 48px;
    }   
}

@media screen and (max-width: 768px) {
    .lead {
        padding-right: 24px;
        padding-left: 24px;
    }   
}

@media screen and (max-width: 320px) {
    .lead {
        padding-right: 16px;
        padding-left: 16px;
    }   
}