.cover {
    position: relative;
    padding-right: 48px;
    padding-left: 48px;
}

@media screen and (max-width: 1024px) {
    .cover{
        padding-right: 0;
        padding-left: 0;
    }    
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(42, 44, 47, 0.3);
}

.cover:hover::before {
    background-color:rgba(42, 44, 47, 0.8);
}


