.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    height: 740px;
    background-size: cover;
    background-image: url(../../../images/cover-trains.jpg);
}

@media screen and (max-width: 1024px) {
    .cover__background {
        height: 640px;
        background-image: url(../../../images/cover-trains-1024.jpeg);
        margin-left: -48px;
        margin-right: -48px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        height: 480px;
        background-image: url(../../../images/cover-trains-1024.jpeg);
        margin-left: -24px;
        margin-right: -24px;
    }
}

@media screen and (max-width: 425px) {
    .cover__background {
        height: 200px;
        background-image: url(../../../images/cover-trains-320.svg);
        margin-left: -24px;
        margin-right: -24px;
    }
}



@media screen and (max-width: 320px) {
    .cover__background {
        height: 200px;
        gap: 16px;
        margin-left: -16px;
        margin-right: -16px;
        background-size: cover;
        background-image: url(../../../images/cover-trains-320.svg);
    }
}

